@model JobBoardApp.Models.JobEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Job</h2>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-md-6">

        <img src="~/images/warning.jpg" asp-append-version="true" width="400" height="400">


    </div>
    <div class="col-md-6">


        <hr />


        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Job)
            </div>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.Job)
            </div>

        </div>

        <hr />

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.JobTitle)
            </div>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.JobTitle)
            </div>

        </div>

        <hr />
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.Description)
            </div>

        </div>


        <hr />
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </div>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.CreatedAt)
            </div>

        </div>

        <hr />
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ExpiresAt)
            </div>
            <div class="col-md-5">
                @Html.DisplayFor(model => model.ExpiresAt)
            </div>

        </div>

        <hr />
        <form asp-action="DeleteJob">
            <input type="hidden" asp-for="Id" />
            <div class="col-lg-offset-1 center-block form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index"><span class="glyphicon glyphicon-step-backward"></span> Back to List</a>
            </div>
        </form>
    </div>


    

</div>



